body {
  text-align: center;
}

h1 {
  margin: 20px auto;
}

.panel {
  font-size: 1.5em;
  padding: 20px;
  min-height: 300px;
  background-color: #bce8f1;
}

.clickable {
  cursor: pointer;
}

.back {
  display: none;
}
