#flashcard {
  background-color: #dcffe1;
  border-radius: 5px;
  font-size: 1.5em;
  margin: 20px auto;
  padding: 40px 25px;
  min-height: 491px;
}

body {
  text-align: center;
}

p {
  color: #fff;
  margin: 10px auto;
}

h1 {
  font-size: 4em;
  margin: 20px auto;
}

img {
  width: 100%;
}

.panel {
  font-size: 1.5em;
  margin-top: 20px;
  padding: 15px;
  background-color: #ff347d;
}

.clickable {
  cursor: pointer;
}

.back {
  display: none;
}
